.my-h1 {
    color: rgb(0, 90, 146);;
    font-weight: bolder;
    height: 50px;
}

.about-me {

    color: rgb(0, 90, 146);
}


.nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.btn{
    transition: 0.15s;
}

.btn:hover {
    color: rgb(0, 90, 146);
    /* background-color: rgb(0, 90, 146); */
    /* border-radius: 10px; */
    /* text-decoration: underline red; */
    border-bottom-width: 3px;
    border-bottom-style: solid red;
    font-weight: 700;
    border-color: red;
    cursor: pointer;
}

.footer{
    background-color: rgb(224,231,255)
}

.arrow {
    margin-left: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(360deg);
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}